
/*
view view-mietobjekt-firmen-overview
view-id-mietobjekt_firmen_overview 
view-display-id-panel_pane_1 
view-dom-id-7147b762c0e385af1939dee4d810de0d
*/

#firmen,
.node-firmen {

    @extend %base-background;
    margin-top: 32px;
    h2 {
        @extend %base-font-weight;
        font-size: 32px;
        font-size: 2rem;
    }

    .views-field-field-zugang-ergaenzung {
        margin-left: 16px;
    }

    .panel-col-first,
    .panel-col-last,
    .group-left,
    .group-right {
        width: 49%;
    }
    
    .panel-col-first,
    .group-left {
        margin-right: 2%;
        .field-name-field-logo {
            margin-bottom: 16px;
            margin-bottom: 1rem;
        }
        .field-name-field-logo,
        .field-name-field-firmen-bild {
            img {
                @include border-radius(4px);
            }
        }
    }
    @include breakpoint($iphone5)
    {
        .panel-col-first,
        .group-left
        {
            width: 100%;
        }
        .panel-col-last,
        .group-right
        {
            width: 100%;
            margin-right: 0;
        }
    }
    .views-label,
    .label-inline,
    .label-above
    {
        font-size: 100%;

        color: $black;

        @extend %bold-font-weight;
    }
}
