//* CSS code for MIETOBJEKTE landing page
//** PANEL page
//** menu: Mietobjekte
//** added by criscom
//** /mietobjekte
//**
//*


.page-mietobjekte .panel-2col-stacked {
    .pane-title {
        @extend %base-font-weight;
        // text-transform: uppercase;
        margin-bottom: 16px;
        margin-bottom: 1rem;
        text-align: center;

        .link {
            display: block;
            font-size: 16px;
            font-size: 1rem;
            text-transform: initial !important;
        }
    }

    .panel-col-top,
    .center-wrapper .panel-col-first,
    .center-wrapper .panel-col-last {
        @extend %base-background;

        .field-name-field-image {
            img {
                border-radius: 4px;
            }
        }
    }

    .pane__title {
        margin-top: 0;
        margin-bottom: 0;
    }

    .panel-col-top {
        @extend %white-space;
    }

    .center-wrapper {
        @include clearfix;

        .panel-col-first {
            width: 49%;

            @include breakpoint($iphone5-6) {
                width: 100%;
            }

            @include breakpoint($max768) {
                margin-bottom: $white-space-px;
                margin-bottom: $white-space-rem;
            }
        }

        .panel-col-last {
                width: 49%;
                margin-left: 2%;

            @include breakpoint($iphone5-6) {
                width: 100%;
            }
        }
    }
}



.view-mietwohnungen-landing-page {
    .view-header p {
        text-align: center;
    }

    .views-row {
        min-height: 366px !important;
        .Verf체gbar, .verfuegbar {
            @extend %bold-font-weight;
        }
    }
}

.wohnung { // h2
    background-color: darken($breadcrumb-bg, 40%); // ==> set background for the headers differently
    // background-color: $header-color;
    text-align: center;
    color: white;
    font-size: $h3-font-size;

    a {
        @include link-colors(
        $normal: #fff,
        $hover: $brand-primary);
        font-size: $h3-font-size;
    }
}

// header background b체rofl채chen

.pane-views-bf9dccb063c76abaa0f29b5b9d7f4a63 {
    .wohnung {
        background-color: $buero;

    }
}

// header background lagerfl채chen

.pane-views-cdd465cb4c4beead8c41ebccc3cf586f {
    .wohnung {
        background-color: $blue;
    }
}

.page-mietobjekte .panel-2col-stacked {
    .center-wrapper .view .view-content {
        @include flexbox ((
        display: flex,
        flex-flow: row wrap,
        justy-content: space-around
        ));

        .views-row {
            width: 100%;
            @include breakpoint($desktop) {
                .ie1 & {
                    float: left; // workaround for IE10, which does not support flexbox
                }
            width: 49%;
             }
            @include breakpoint($xlarge) {
                width: 265px;
            }

            // background-color: darken($breadcrumb-bg, 10%);
            background-color: white; // $header-color;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            @extend %divider-node;
            &-odd
            {
                @include breakpoint($desktop){                
                    margin-right: 2%;
                }
                @include breakpoint($xlarge) {
                    margin-right: 16px;
                    margin-right: 1rem;
                }
            }
        }
    }
}

.flaeche,
.wohnungsdetails,
.verfuegbarkeit {
    text-align: center;
    }

.verfuegbarkeit {
    margin-bottom: 16px;
    margin-bottom: 1rem;
    }

.views-field-field-bilder {
    text-align: center;
    }

.mietobjektdetails-link,
.wohnungsdetails-link { // obsolete
    margin-top: 16px;
    margin-top: 1rem;
    text-align: center;
    }

img {
    @include border-radius(4px);
}
