/* CSS code for GEWERBEPARK landing page
** PANEL page 
** menu: Gewerbepark
** added by criscom
** /uebersicht-mgpark
**
*/



// view firmen_mietobjekt:
// ======================

/*
view view-mietobjekt-firmen-overview 
view-id-mietobjekt_firmen_overview 
view-display-id-block 
view-dom-id-150ed240a5bd96c6ddd29546f66438ab
*/

.panel-pane div.node {
    margin: 0;
    padding: 0;
}

.view-mietobjekt-firmen-overview.view-display-id-block,
.view-firmen-mietobjekt {
    .views-row {
        margin-bottom: 8px;
        margin-bottom: .5rem;
        @include clearfix();
    }
    .views-row .views-field {
        float: left;
    }
    .views-field-field-zugang-lagerflaechen,
    .views-field-field-zugang-bueroflaechen {
        // width: 40px;
        // width: 2.5rem;
        width: 52px;
        width: 3.25rem;
        color: white;
        // padding: 4px 0 4px 10px;
        // padding: .25rem 0 .25rem .625rem;
        padding: 4px 0 4px;
        padding: .25rem 0 .25rem;
        text-align: center;
    }
    .views-field-field-zugang-lagerflaechen {
        background-color: $blue;
        font-family: 'Didact Gothic', Arial, 'Open Sans', sans-serif;
    }
    .views-field-field-zugang-bueroflaechen {
        // background-color: darken($header-color,25%);
        background-color: $buero;
        font-family: 'Didact Gothic', Arial, 'Open Sans', sans-serif;
    }
    .views-field-field-firma-mieter > .field-content {
        // width: 280px;
        // width: 17.5rem;
        width: 268px;
        width: 16.75rem;
        a {
            font-family: 'Didact Gothic', Arial, 'Open Sans', sans-serif;
            color: black;
            display: block;
            background-color: white;
            padding: 4px 4px 4px 12px;
            padding: .25rem .25rem .25rem .75rem;
            @include transition-property(all);
            @include transition-duration(.75s);
            &:hover {
                font-family: 'Didact Gothic', Arial, 'Open Sans', sans-serif;
                text-decoration: none;
                background-color: $blue;
                color: white;
            }
        }
    }
}

// Add some margin above mgp Büro Zugänge
.views-row.B1,
.views-row.b1 {
    &:before {
        font-family: 'Didact Gothic', Arial, 'Open Sans', sans-serif;
        content: "mgp büro";
        color: $blue;
        font-weight: 600;
        margin-bottom: 16px;
        margin-bottom: 1rem;
    }
    @include breakpoint($desktop){
        margin-top: 2rem;
        margin-top: 32px;
    }
}

// Give mgp Büro Zugänge a different hover color
.views-row.B,
.views-row.b {
    &1,&2,&3,&4,&5,&6,&7 {
        .views-field-field-firma-mieter > .field-content a:hover {        
            // background-color: darken($header-color,25%);
            background-color: $buero;
        }
    }
}

// ==================

// basic stylings
.page-uebersicht-mgpark .panel-2col-stacked {
             .field-name-field-image {
            img {
                @include border-radius(4px);
            }
        }
    .panel-col-top,
    .center-wrapper .panel-col-first,
    .center-wrapper .panel-col-last {
        @extend %base-background;
    }
    .pane__title {
        margin-top: 0;
        margin-bottom: 0;
    }
    .panel-col-top {
        @extend %white-space;
    }
    .center-wrapper {
        @include clearfix;
        .panel-col-first {
            width: 68%;
            @include breakpoint($iphone5-6)
            {
                width: 100%;
                margin-bottom: $white-space-px;
                margin-bottom: $white-space-rem;
            }
        }
        .panel-col-last {
            width: 30%;
            margin-left: 2%;
            @include breakpoint($iphone5-6)
            {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}